body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    }

h1 {
    text-align: center;
    margin-top: 40px;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    }

img {
    position: sticky;
    margin-top: 110px;
    opacity: 80%;
    margin-left: 40px;
    }

div {
    position: absolute;
    right: 170px;
    top: 250px;
    color: white;
    font-family: cursive;
    font-size: 30px;
    }

p {
    color: white;
    border-radius: 15px;
    position: absolute;
    right: 120px;
    top: 300px;
    }

audio {
    position: absolute;
    right: 140px;
    top: 500px;
    }